<section id="controluser-index" class="container">
<div class="page-header">
	<h1>Control User</h1>
</div>

	<%= form_tag control_users_path, :method=>"GET", :remote => true  do  %>

    <div class="form-group input-group">
    	<%= text_field_tag 'search', nil, :placeholder => 'Enter search term...', :class => "form-control" %>


      <span class="input-group-btn">
      	<%= submit_tag "Pesquisar", :class=>"btn btn-default" %>
      </span>
    </div>

    <div class="form-group">
    	Filtar por: 
	    <label class="checkbox-inline">
	    	<%= check_box_tag :role, 0 %> <strong>Admin</strong>
	    </label>

	    <label class="checkbox-inline">
	    	<%= check_box_tag :role, 1 %> <strong>Student</strong>
	    </label>

	    <label class="checkbox-inline">
	    	<%= check_box_tag :role, 2 %> <strong>Teacher</strong>
	    </label>
    </div>

	<% end %>

	<p class="text-right"><strong>Total users:</strong> <%= @users.size %></p>

	<div id="controluser-list">
		<%= render "list"%>
	</div>

	<div class="well clearfix">

		<div class="pull-right">
    <div class="btn-group">
			<%= link_to "New Student", new_student_path, :class => "btn btn-success btn-lg pull-right" %>
    </div>
    <div class="btn-group">
			<%= link_to "New Teacher", new_teacher_path, :class => "btn btn-success btn-lg pull-right" %>
    </div>
    <div class="btn-group">
			<%= link_to "New Administrator", new_administrator_path, :class => "btn btn-success btn-lg pull-right" %>
    </div>
  </div>
		
	</div>

</section>