<p><h1>List of Users</h1></p>

<p>
	<td>
		<%= link_to "New Administrator", new_administrator_path %>
		<%= link_to "New Student", new_student_path %>
		<%= link_to "New Teacher", new_teacher_path %>
	</td>
</p>


<p><%= @users.size %> Users Registered</p> 


<table>
   <thead>
	<tr>
		<th>Email</th>
		<th>Role</th>
	</tr>
   </thead>
   
   <tbody>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%= user.role %></td>
		</tr>
   </tbody>
	<% end %>
</table>