<% if @student.errors.any? %>
	<div class="alert panel panel-danger danger">
		<div class="panel-heading">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			It was not possible to complete the entries due to the following errors:
		</div>
		<div class="panel-body">
			<ul>
				<% @student.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>

<%= form_for @student do |f| %>

	<div class="form-group">
		<%= f.label :full_name %> <br>
		<%= f.text_field :full_name, :placeholder => :full_name, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :user_name %> <br>
		<%= f.text_field :user_name, :placeholder => :user_name , :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :email %> <br>
		<%= f.email_field :email, :placeholder => :email , :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :password %> <br>
		<%= f.password_field :password, :placeholder => :password , :class => "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :password_confirmation %> <br>
		<%= f.password_field :password_confirmation, :placeholder => :password_confirmation , :class => "form-control" %>
	</div>
	
	<%= f.submit :Save, :class => "btn btn-success btn-lg" %>
	<%= link_to :Back, students_path, :class=> "btn btn-danger btn-lg btn-right" %>
<% end %>