<section id="student-index" class="container">
<div class="page-header">
	<h1>Student</h1>
</div>

	<%= form_tag students_path, :method=>"GET", :remote => true  do  %>

    <div class="form-group input-group">
    	<%= text_field_tag 'search', nil, :placeholder => 'Enter search term...', :class => "form-control" %>
      <span class="input-group-btn">
      	<%= submit_tag "Pesquisar", :class=>"btn btn-default" %>
      </span>
    </div>

	<% end %>

	<p class="text-right"><strong>Total Student:</strong> <%= @students.size %></p>

	<div id="student-list">
		<%= render "list"%>
	</div>



<div class="well clearfix">
	<%= link_to :New, new_student_path, :class => "btn btn-success btn-lg pull-right" %>
</div>
</section>