<section class="container">
	<div class="page-header"> 
		<h1>Teacher</h1>
	</div>

	<%= form_tag teachers_path, :method=>"GET", :remote => true  do  %>

    <div class="form-group input-group">
    	<%= text_field_tag 'search', nil, :placeholder => 'Enter search term...', :class => "form-control" %>
      <span class="input-group-btn">
      	<%= submit_tag "Pesquisar", :class=>"btn btn-default" %>
      </span>
    </div>

	<% end %>
	
	<p class="text-right"><strong>Total Teachers:</strong> <%= @teachers.size %></p>

	<div id="teacher-list">
		<%= render "list"%>
	</div>


	<div class="well clearfix">
		<%= link_to :New, new_teacher_path, :class => "btn btn-success btn-lg pull-right" %>
	</div>
</section>