<% if @course.errors.any? %>
	<div class="alert panel panel-danger danger">
		<div class="panel-heading">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			It was not possible to complete the entries due to the following errors:
		</div>
		<div class="panel-body">
			<ul>
				<% @course.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>

<%= form_for @course do |f| %>

	<div class ="form-group col-xs-8">
		<%= f.label :name %> <br>
		<%= f.text_field :name, :placeholder => :name, :class => "form-control" %>
	</div>

	<div class="form-group col-xs-4">
		<%= f.label :category %><br>
		<%= select_tag "course[category_id]", options_from_collection_for_select(@category, "id", "name"), :class => "form-control" %>
	</div>

	<div class="form-group col-xs-6">
		<%= f.label :workload %><br>
		<%= f.number_field :workload, :placeholder => :workload, :class => "form-control" %>
	</div>

	<div class="form-group col-xs-6">
		<%= f.label :value %><br>
		<%= f.number_field :value, :placeholder => :value, :class => "form-control" %>	
	</div>

	<div class="form-group col-xs-12">
	<%= f.label :description %> <br>
	<%= f.text_area :description, :placeholder => :description, :class => "form-control" %>
	</div>

	<%= f.submit :Save, :class => "btn btn-success btn-lg" %>
	<%= link_to :Back, courses_path, :class => "btn btn-danger btn-lg btn-tight" %>
<% end %>
<hr>