<h1>Courses</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Workload</th>
		<th>Value</th>
		<th>Description</th>
		<th>Created on</th>
	</tr>

		<tbody>
			<% if @courses.count == 0 %>
				<p>Not Registered Courses</p>
			<% else %>
				<h2>There is <% @courses.size %> courses registered</h2>
		
				<% @courses.each do |course| %>

					<tr>
						<td> <%= course.name %> </td>
						<td> <%= course.workload %> </td>
						<td> <%= course.value %> </td>
						<td> <%= course.description %> </td>
						<td> <%= course.created_at %> </td>
						<td> <%= link_to :show, course_path(course) %> </td>
						<td> <%= link_to :edit, edit_course_path(course) %> </td>
						<td> <%= link_to :delete, course, method: :delete, data: {confirm: "Are you sure?"} %> </td>
					</tr>

				<% end %>
			<% end %>
		</tbody>
</table>
<br>
<%= link_to :New, new_course_path %>