<h1 class="well"><strong><%= @course.name %></strong></h1>

<%= form_for @student do |f| %>

	<div class="form-group">
		<%= f.label :name %><br>
		<%= f.text_field :name, :placeholder => :name, :class => "form-control", disacled: true %>
	</div>

	<div class="form-group">
		<%= f.label :workload %><br>
		<%= f.text_field :workload, :placeholder => :workload, :class => "form-control", disacled: true %>
	</div>

	<div class="form-group">
		<%= f.label :value %><br>
		<%= f.text_field :value, :placeholder => :value, :class => "form-control", disacled: true %>
	</div>

	<div class="form-group">
		<%= f.label :description %><br>
		<%= f.text_field :description, :placeholder => :description, :class => "form-control", disacled: true %>
	</div>
<% end %>

<%= link_to :Edit, edit_course_path, :class => "btn btn-warning btn-lg" %>
<%= link_to :Back, courses_path, :class => "btn btn-danger btn-lg" %>