<h1>Show Category:</h1>
<p> 
	<strong><%= :id %>: </strong>
	<%= @category.id %>
</p>
<p> 
	<strong><%= :name %>: </strong>
	<%= @category.name %>
</p>
<p> 
	<strong><%= :description %>: </strong>
	<%= @category.description %>
</p>
<p> 
	<strong><%= :created_at %>: </strong>
	<%= @category.created_at %>
</p>
<p> 
	<strong><%= :updated_at %>: </strong>
	<%= @category.updated_at %>
</p>


<%= link_to :Back, categories_path %>
<%= link_to :Edit, edit_category_path %>
